<a href="#/books">Go Back</a>
<div class="panel panel-default" ng-init="getBook()">
  <div class="panel-heading">
    <h3 class="panel-title">{{book.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{book.image_url}}">
      </div>
      <div class="col-md-8">
        </p>{{book.description}}</p>
        <ul class="list-group">
          <li class="list-group-item">Genre: {{book.genre}}</li>
          <li class="list-group-item">Author: {{book.author}}</li>
          <li class="list-group-item">Publisher: {{book.publisher}}</li>
          <li class="list-group-item">Pages: {{book.pages}}</li>
        </ul>
        <a target="_blank" href="{{book.buy_url}}" class="btn btn-primary">Buy on Amazon</a>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a href="#/books/edit/{{book._id}}">Edit</a> |  <a href="#" ng-click="removeBook(book._id)">Delete</a>
  </div>